*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f5;
    color: #111;
    overflow: hidden;
}

.container{
    display: flex;
    height: calc(100vh - 60px);

    /* height: calc(100vh - 60px);  */
}


.sidebar {
    width: 200px;
    background-color: #001F2B;
    color: white;
    display:  flex;
    flex-direction: column;
    padding: 20px 0;
    overflow: hidden;
}

.logo{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.nav a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-left: 3px solid transparent;
    margin-bottom: 10px;
}
.nav a.active, .nav a:hover{
    background-color: #00354e;
    border-left: 3px solid #4adede;
}

.main{
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden; 
   
}
.main_scroll{
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:auto; 
    overflow-x:hidden;
    scroll-behavior:smooth;     
    padding: 20px;
    box-sizing: border-box;   
    border-radius: 18px; 
    /* border-radius: 18px;
    margin-bottom: 20px;
    margin-right: 20px; */
}
.main_2{
    flex: 1;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.main_2{
    flex: 1;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    margin-right: 20px;
}


.section-title{
    font-size: 1.5rem;
}

.overview{
    display: flex;
    gap: 20px;
}

/* .map-box{
    flex:2;
    position: relative;
} */
.mapbox {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.map-full {
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }
  
  /* .map-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    font-family: "Segoe UI", sans-serif;
   
} */
  
  .map-box {
    flex: 2;
    position: relative;
}
  #map {
    width: 100%;
    height: 220px;
    border-radius: 8px;
  }
  


.map-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
.map-label{
    position: absolute;
    right: 1px;
    bottom: 15px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 3px 8px;
    border-radius: 20px;
    padding: 10px 40px;
    border: 1px solid black;
    background: white;
    font-weight: 600;
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    transition: 0.2s;

}
.map-label:hover {
    background: #f0f0f0;
  }
.status-box{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-box h3{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.status-list{
    list-style: none;
    margin-bottom: 15px;
}
.status-list li{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.value{
    font-weight: bold;
}


.bottom-box{
    flex:1;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* min-height: 100px; */
    /* height: auto; */
    background-color: #ffffff;
    /* padding: 24px; */
    box-sizing:border-box;


}
.status-title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Segoe UI", sans-serif;


}

.status-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px ;
    /* margin-bottom: 20px; */
    /* justify-items: start; */
}
.status-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*font-size: 0.95rem;
    color: #111;
    gap: 8px;
    padding-left: 10px; */
    /* justify-content: center; */

}
.status-label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 4px;
    padding-left: 4px;

  }
.status-item img {
    width: 24px;
    height: 24px;
    /* margin-bottom: 4px; */
    object-fit: contain; 

  }
.status-count {
    font-size: 1.4rem;
    font-weight: medium;
    /* margin-left: -40px;  */
    margin-left: 30px
}


  .btn-detail {
    padding: 10px 60px;
    border: 1px solid black;
    background: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 40px;
    font-family: "Segoe UI", sans-serif;

  }
  .btn-detail:hover {
    background: #f0f0f0;
  }
  .topbar {
    height: 60px;
    background-color: #001F2B;
    color: white;
    display: flex;            
    align-items: center;      
    padding: 0 70px;            
    
  } 

  .topbar-title {
    font-size: 1.4rem;
    font-weight: bold;


  }
  .main-wrapper {
    flex: 1;
    /* padding: 20px; */
    height: calc(100vh - 60px);
    background-color: #001F2B; 
    display: flex;
    align-items: stretch;
    overflow: hidden;
    padding: 20px; 
    box-sizing: border-box;

  }



  .charts-row{
    display:flex;
    gap:24px;
    margin-bottom:24px;   /* khoảng cách giữa hai hàng */
  }
  .chart-box{
    flex:1;               /* mỗi hộp rộng bằng nhau */
    height:270px;         /* bạn chỉnh bao nhiêu tùy thích */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* align-items:center;    */
    /* justify-content:center; */
    border: 1px solid #ccc;
    padding: 12px 16px 30px 16px;
    border-radius: 8px;
    position: relative;

    /* padding-top: 60px; */
    

  }
  .chart-box canvas{
    width:100% !important;
    height:100% !important;
  }
  .chart-title {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
    align-self: flex-start;
  }
  @media(max-width:900px){
    .charts-row{
      flex-direction:column;
    }
    .chart-box{height:200px;}
  }